@mixin background-extend {
  position: relative;
  overflow: visible;
  padding-left: 1px;
  padding-right: 1px;

  &::before,
  &::after {
    content: '';
    background-color: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 200%;
    display: block;
  }

  &::before {
    left: 100%;
    margin-left: -1px;
  }

  &::after {
    right: 100%;
    margin-right: -1px;
  }
}
