#!/usr/bin/make -f

# Example config for local docker compose workflow.
# Copy this file to Makefile.local

PROJECT_DIR=/data
APP_URL=http://127.0.0.1
DOCKER_RUN=docker-compose run --rm php
DRUSH=$(DOCKER_RUN) $(PROJECT_DIR)/bin/drush -r $(APP_ROOT) -l $(APP_URL)
GULP=$(DOCKER_RUN) $(PROJECT_DIR)/node_modules/.bin/gulp
COMPOSER=$(DOCKER_RUN) composer
YARN=$(DOCKER_RUN) yarn

styleguide-init:
	@echo "No action required"
