// Container
//
// A responsive, fluid width container.

.container,
%container {
  // We do not want the max width to be effected by the viewport width padding.
  box-sizing: content-box;
  // Center the old-school way.
  max-width: $container-max-width;
  margin: {
    left: auto;
    right: auto;
  }
  // Pad the container.
  padding: {
    left: $container-padding;
    right: $container-padding;
  }

  * {
    // Reset box sizing.
    box-sizing: border-box;
  }

  .container {
    // Don't pad nested containers.
    padding: {
      left: 0;
      right: 0;
    }
  }
}
