<div class="container">
  <div class="flex-grid">
    <div class="flex-grid__4-grid-col">
      <small>4-grid-col</small><br/>
      Quarter
    </div>
    <div class="flex-grid__4-grid-col">
      <small>4-grid-col</small><br/>
      Quarter
    </div>
    <div class="flex-grid__4-grid-col">
      <small>4-grid-col</small><br/>
      Quarter
    </div>
    <div class="flex-grid__4-grid-col">
      <small>4-grid-col</small><br/>
      Quarter
    </div>
    <div class="flex-grid__3-grid-col">
      <small>3-grid-col</small><br/>
      Third
    </div>
    <div class="flex-grid__3-grid-col">
      <small>3-grid-col</small><br/>
      Third
    </div>
    <div class="flex-grid__3-grid-col">
      <small>3-grid-col</small><br/>
      Third
    </div>
    <div class="flex-grid__2-grid-col">
      <small>2-grid-col</small><br/>
      Half
    </div>
    <div class="flex-grid__2-grid-col">
      <small>2-grid-col</small><br/>
      Half
    </div>
    <div class="flex-grid__full-col">
      <small>full-col</small><br/>
      Full
    </div>
    <div class="flex-grid__4-grid-col">
      <small>4-grid-col</small><br/>
      Quarter
    </div>
    <div class="flex-grid__fluid-col">
      <small>fluid-col</small><br/>
      Fills remaining space (not supported in IE9, fallsback to full)
    </div>
    <div class="flex-grid__full-col">
      <small>full-col</small><br/>
      Full (needed to separate the fluid boxes)
    </div>
    <div class="flex-grid__3-grid-col">
      <small>3-grid-col</small><br/>
      Third
    </div>
    <div class="flex-grid__fluid-col">
      <small>fluid-col</small><br/>
      Fills remaining space
    </div>
    <div class="flex-grid__clear-before flex-grid__clear-after flex-grid__2-grid-col">
      <small>flex-grid__clear-before</small><br/>
      Start a new row regardless of items
    </div>
    <div class="flex-grid__fluid-col">
      <small>fluid-col</small><br/>
      When used without a set width
    </div>
    <div class="flex-grid__fluid-col">
      <small>fluid-col</small><br/>
      Space is equally divided
    </div>
  </div>
</div>
