<div class="container">
  <div class="grid">
    <div class="grid__4-col">
      <small>4-col</small><br/>
      Quarter
    </div>
    <div class="grid__4-col">
      <small>4-col</small><br/>
      Quarter
    </div>
    <div class="grid__4-col">
      <small>4-col</small><br/>
      Quarter
    </div>
    <div class="grid__4-col">
      <small>4-col</small><br/>
      Quarter
    </div>
    <div class="grid__3-col">
      <small>3-col</small><br/>
      Third
    </div>
    <div class="grid__3-col">
      <small>3-col</small><br/>
      Third
    </div>
    <div class="grid__3-col">
      <small>3-col</small><br/>
      Third
    </div>
    <div class="grid__2-col">
      <small>2-col</small><br/>
      Half
    </div>
    <div class="grid__2-col">
      <small>2-col</small><br/>
      Half
    </div>
    <div class="grid__full-col">
      <small>full-col</small><br/>
      Full
    </div>
    <div class="grid__4-col">
      <small>4-col</small><br/>
      Quarter
    </div>
    <div class="grid__fluid-col">
      <small>fluid-col</small><br/>
      Fills remaining space (not supported in IE9, fallsback to full)
    </div>
    <div class="grid__full-col">
      <small>full-col</small><br/>
      Full (needed to separate the fluid boxes)
    </div>
    <div class="grid__3-col">
      <small>3-col</small><br/>
      Third
    </div>
    <div class="grid__fluid-col">
      <small>fluid-col</small><br/>
      Fills remaining space
    </div>
    <div class="grid__clear-before grid__clear-after grid__2-col">
      <small>grid__clear-before</small><br/>
      Start a new row regardless of items
    </div>
    <div class="grid__fluid-col">
      <small>fluid-col</small><br/>
      When used without a set width
    </div>
    <div class="grid__fluid-col">
      <small>fluid-col</small><br/>
      Space is equally divided
    </div>
  </div>
</div>
