// Reset
//
// Reset various elements to a base state.
//
// Style guide: utils.reset

// Reset list
//
// Safely reset `ul` and `ol` and their children `li` elements.
//
// Markup: reset-list.twig
//
// Style guide: utils.reset.list

.reset--list,
%reset--list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}
