{#
/**
 * @file
 * One column layout.
 *
 * Available variables:
 * - attributes: attributes for the wrapper
 * - content: content regions
 */
#}
<main{{ attributes }}>
  {{ content.content }}
</main>
