<input type="submit" class="{{ modifier_class }}" value="Submit button" />
<button type="button" class="{{ modifier_class }}">Button button</button>
<a href="#" class="{{ modifier_class }}">Link button</a>
