<ul class="tab-list">
  <li><a href="#tabList1" class="tab-list__tab tab-list__tab--active">First tab</a></li>
  <li><a href="#tabList2" class="tab-list__tab">Second tab</a></li>
  <li><a href="#tabList3" class="tab-list__tab">Third tab</a></li>
</ul>
