@import 'init/init';
@import 'utils/form/input';

// Input fields
//
// Input fields make up the majority of form fields, the most common types are details below.
//
// Style guide: 5.1

// Text
//
// The standard `input[type="text"]` element, with a label and help text.
//
// Markup: input-text.twig
//
// Style guide: 5.1.1

.input__text,
%input__text,
[type='text'],
[type='search'],
[type='tel'],
[type='url'],
[type='email'],
[type='password'],
[type='date'],
[type='time'],
[type='number'] {
  @include input-base;
  @include padding(0 $form-element-padding 0 $form-element-padding / 2);
  height: spacing($form-element-height);
}

// Checkbox (multiple)
//
// The standard `input[type="checkbox"]` element, using a fieldset and legend as
// the accessible way to group and label multiple checkbox inputs.
//
// Optionally a tooltip can be used by using the `aria-describedby` attribute
// on the fieldset itself.
//
// Markup: input-checkbox.twig
//
// Style guide: 5.1.3

// Checkbox (single)
//
// Used for things like accepting terms and conditions and opting in to
// communications.
//
// Markup: input-checkbox-single.twig
//
// Style guide: 5.1.4

// Radios (multiple)
//
// The standard `input[type="radio"]` element, using a fieldset and legend as
// the accessible way to group and label multiple radio inputs.
//
// Optionally a tooltip can be used by using the `aria-describedby` attribute
// on the fieldset itself.
//
// Markup: input-radio.twig
//
// Style guide: 5.1.5

.form__radio,
%form__radio,
.form__checkbox,
%form__checkbox {
  @include margin(0 0 $spacing-xs);
  @include padding-left(20px);
  position: relative;

  label {
    @include typeset(default);
    cursor: pointer;
  }

  [type='radio'],
  [type='checkbox'] {
    position: absolute;
    left: 0;
    top: 2px;
    margin: 0;
  }
}

[type='radio'],
[type='checkbox'] {
  float: left;
  margin: 4px 6px 5px 0;
}
