// sass-lint:disable no-vendor-prefixes

// Mixins
//
// Style guide: 2.7

// placholder($color, $style)
//
// Allows form elements to quickly implement placeholder browser prefixes.
//
// $color - A Hex color to use for placeholder text.
// $style - A font-style to use for placeholder test.
//
// Style guide: 2.7.1

@mixin placeholder($color, $style) {
  &::-webkit-input-placeholder {
    // Chrome/Opera/Safari
    color: $color;
    opacity: 1;
    font-style: $style;
  }

  &::-moz-placeholder {
    // Firefox 19+
    color: $color;
    opacity: 1;
    font-style: $style;
  }

  &:-ms-input-placeholder {
    // IE 10+
    color: $color;
    opacity: 1;
    font-style: $style;
  }

  &:-moz-placeholder {
    // Firefox 18-
    color: $color;
    opacity: 1;
    font-style: $style;
  }
}

// background-extend()
//
// Allows form elements to quickly implement placeholder browser prefixes.
//
// Style guide: 2.7.2

@mixin background-extend {
  position: relative;
  overflow: visible;
  padding-left: 1px;
  padding-right: 1px;

  &::before,
  &::after {
    content: '';
    background-color: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 200%;
    display: block;
  }

  &::before {
    left: 100%;
    margin-left: -1px;
  }

  &::after {
    right: 100%;
    margin-right: -1px;
  }
}

// print-none()
//
// Do not display for printed media.
//
// Style guide: 2.7.3

@mixin print-none {
  @media print {
    display: none;
  }
}

// print-only()
//
// Only display for printed media.
//
// Style guide: 2.7.4

@mixin print-only {
  display: none;

  @media print {
    display: block;
  }
}

$include-rtl: true !default;

// rtl()
//
// Includes Right-To-Left langauge support. Can be turned off globally by
// setting `$include-rtl: false;`.
//
// Style guide: 2.7.5

@mixin rtl {
  [dir="rtl"] & {
    @content;
  }
}
